.kalendar

  th
    color: #CF2C4F
    //font-size: 1.3rem
    font-weight: bold
    border-bottom: 4px solid #CF2C4F
  td
    border: 1px solid #ccc
    width: 14.28%
    position: relative
.srednji
  height: calc(100vh - 480px)
  overflow-y: scroll
  max-height: calc(100vh - 480px)
