text-color
  color: rgb(39, 92, 133)

.bg-color
  background-color: #edf0f5

.text-color
  color: rgb(39, 92, 133)

.active-tab
  background-color: #e4f5ff
  border-radius: 15px 15px 15px 15px
  color: #008cb4
  transition: all 0.2s ease-in-out

.active-tab-icon
  fill: #008cb4
  stroke: #008cb4

.tab
  cursor: pointer
  user-select: none

