.bg-color
  background-color: #edf0f5
.bg-color-2
  background-color: rgb(14, 65, 102)

.status-1
  @apply bg-[#A8DF83] text-gray-700

.status-2
  @apply bg-[#87ACDA] text-white

.status-3
  @apply bg-[#F9D6A1] text-gray-700
.status-4
  @apply bg-[#9E829C] text-blue-600
.status-else
  @apply bg-gray-300 text-gray-700

.mat-mdc-menu-item-text
  display: flex !important
  width: 100% !important

