<form
  [formGroup]="userForm"
  class="m-10 p-10 rounded-[30px] bg-[#A5D1F3]/70 border border-blue-300"
>
  <div class="mb-6">
    <label class="block mb-2 text-sm font-family text-[#216191]">{{
      "name" | translate
    }}</label>
    <input
      formControlName="name"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      placeholder=""
      required
    />
  </div>
  <div class="mb-6">
    <label class="block mb-2 text-sm font-family text-[#216191]">{{
      "phone" | translate
    }}</label>
    <input
      formControlName="telephone"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      placeholder=""
      required
    />
  </div>
  <div class="mb-6" *ngIf="userForInput.id == 0">
    <label class="block mb-2 text-sm text-[#216191]">Email</label>
    <input
      formControlName="email"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      placeholder=""
      required
    />
  </div>

  <div class="mb-6">
    <label class="block mb-2 text-sm font-family text-[#216191]">{{
      "users.roles" | translate
    }}</label>
    <ng-select
      formControlName="roles_combo"
      bindLabel="name"
      placeholder="{{ 'users.selectrole' | translate }}"
      [items]="roleList"
      [virtualScroll]="true"
      [clearable]="false"
    >
      <ng-template ng-option-tmp let-item="item" let-search="searchTerm">
        <div>{{ item.name }}</div>
      </ng-template>
    </ng-select>
  </div>

  <div class="flex justify-between items-center">
    <label class="switch text-sm flex items-center">
      <input type="checkbox" formControlName="activity" />
      <span class="slider"></span>
      <div class="text-sm ml-3 text-white pl-16 mt-1">
        <span
          *ngIf="userForm.get('activity')?.value"
          class="text-[#0e4166] text-sm"
          >{{ "active" | translate }}</span
        >
        <span
          *ngIf="!userForm.get('activity')?.value"
          class="text-white text-sm"
          >{{ "inactive" | translate }}</span
        >
      </div>
    </label>

    <div>
      <button
        class="mt-10 text-white font-family button-bg focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        (click)="resetPassword()"
        *ngIf="userForInput.id"
      >
        {{ "users.resetpass" | translate }}
      </button>
    </div>

    <div class="flex gap-5">
      <button
        type="submit"
        class="mt-10 text-white font-family button-bg focus:outline-none font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        [disabled]="userForm.invalid"
        (click)="onSubmit()"
      >
        {{ "users.saveuser" | translate }}
      </button>
      <button
        *ngIf="!userForInput.id"
        class="mt-10 text-white font-family bg-red-600 font-medium rounded-lg text-sm px-5 py-2.5 text-center"
        (click)="goBack()"
      >
        {{ "back" | translate }}
      </button>
    </div>
  </div>
</form>
