@tailwind base
@tailwind components
@tailwind utilities
@import gradijenti
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap')
@import @ng-select/ng-select/themes/default.theme.css


$glavna-boja: #894CB2
$sekundarna-boja: #3B0086

html, body
  height: 100vh
  margin: 0
  padding: 0
  font-family: Rubik, sans-serif
  overscroll-behavior-y: none

.primarna-pozadina
  background-color: #A11e5c


.glavna-pozadina
  background-color: $glavna-boja
